.custom-checkbox {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px; /* Adjust as needed */
  position: relative;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: -1.5em;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid lightblue;
}

/* Background color when checked */
.custom-checkbox input[type="checkbox"]:checked + .checkmark {
  background-color: #135382;
}

/* White checkmark */
.checkmark:after {
  content: "";
  position: absolute;
  top: -10px; /* Initial position off-screen */
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg); /* Rotate the checkmark */
  width: 5px; /* Adjust the length of the checkmark lines */
  height: 10px;
  border: solid aliceblue;
  border-width: 0 2px 2px 0; /* Create the checkmark shape */
  transition: top 0.3s ease; /* Add transition effect for top position */
}

/* Show white checkmark when checked */
.custom-checkbox input[type="checkbox"]:checked + .checkmark:after {
  top: 50%; /* Move the checkmark to its final position */
}