.to-do-element, .reward-item {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.view-task, .view-reward {
    width: 85%;
    display: flex;
    align-items: center;
    height: 3rem;
    cursor: pointer;
    border: none;
    border-radius: .4rem;
    background-color: #97c8ed;
    width: 100%;
    color: #135382;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    background: linear-gradient(to bottom right, aliceblue, #97c8ed);
    padding: 10px;
   
}


.view-task:hover, .view-reward:hover {
    font-size: 1.1rem;
    color: #0c3d63;
}