.overdue-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background-color: aliceblue;
    color: #0c3d63;
}

#overdue-tasks-heading {
    color: #0c3d63;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.show-overdue-arrow {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    display: flex;
    align-items: center;
    color: lightblue
}

.show-overdue-arrow:hover {
    color: pink;
}

.accept-penalty {
    margin-top: 2rem;
}