.overdue-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background-color: aliceblue;
    color: #0c3d63;
    padding: 2rem;
}

.overdue-container h4 {
      color: #0c3d63;
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 1rem;
}



.show-overdue-arrow {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    display: flex;
    align-items: center;
    color: lightblue
}

.show-overdue-arrow:hover {
    color: pink;
}

.accept-penalty {
    margin-top: 2rem;
}

@media (max-width: 350px) {
    .overdue-container {
        width: 100%;
    }
}