.pomodoro-settings-container label{
  display: flex;
  margin-top: 2rem;
  margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
}

.slider {
    height: 40px;
    border: 2px solid lightblue;
    border-radius: 20px;
}

.thumb {
    background-color: lightblue;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}