.tasks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-top: 2rem;
    background-color: #135382;
}

.tasks-container h1 {
    font-size: 2rem;
    font-weight: bold;
    color: aliceblue;
    margin: 0;
    width: fit-content;
    text-transform: uppercase;
}

.date-box {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#date {
    margin-left: .5rem;
}



.todo-list {
    margin-right: 2.25rem;
}

.view-task {
    width: 85%;
    display: flex;
    align-items: center;
}


.edit-task-icon {
    font-size: 1.2em;
}

.delete-task-icon {
    font-size: 1.3em;
}

.overlay,
.overdue-task-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Ensure it appears above other content */
}

@media (max-width: 300px) {
    .date-box h1 {
        font-size: 1.4rem
    }
}


@media (min-width: 301px) and (max-width: 400px) {
  
    .date-box {
        align-self: center;
    }

    .coin-count-header {
        align-self: center;
    }

    .date-box h1 {
        font-size: 1.6rem;
    }
}

@media (min-width: 401px) and (max-width: 545px) {
    #date {
        margin-left: 0;
    }

    .date-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .date-box h1 {
        font-size: 1.8rem;
    }
}

/* Screens that have hover and are not Samsung (laptops etc) */
@media (hover:hover) and (min-width: 501px) {
    
}

/*Screens that don't have hover (most mobile devices except Samsung) */
@media (hover: none) {
    

}


/*Samsung screens that have hover but don't behave like they do */
@media (hover:hover) and (max-width: 500px) {
   
}

@media (min-width: 768px) and (max-width: 991px) {
    
}