.pomodoro-mobile-settings {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}
.pomodoro-mobile-settings h4 {
    color: #0c3d63;
    text-align: start;
    margin-left: 1rem;
}

.pomodoro-settings-buttons button {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
    padding: 1rem 1rem; 
    border-right: none;
    border-left: none;
    border-top: none;
    border: none;
    width: 100%;
    color: #0c3d63;

}

.pomodoro-settings-buttons button:hover {
    background-color: #a7d5fa;
}

.pomodoro-mobile-settings button p {
    margin-top: 0;
    margin-bottom: 0;

}


.pomodoro-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Ensure it appears above other content */
}

.pomodoro-settings-command-buttons {
    border-top: 1px solid #135382;
    padding: 2rem;

}