.view-reward {
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
}

.view-reward p {
    margin: 0;
    padding: 0;
    text-align: start;
}

.view-reward img {
    height: 2.5rem;
    width: 2.5rem;
}

.reward-details {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.reward-item {
    display: flex;
    justify-content: center;
    width: 100%;
}

.icon-with-details {
    display: flex;
    align-items: center;
}

.reward-description {
    font-size: .8rem;
}

.reward-quantity {
    margin-left: 4rem;
    font-size: .8rem;
}

#reward-quantity {
    text-align: end;
}