.card {
    background-color: aliceblue;
    margin: 2rem 1rem;
    padding: 2rem 2rem;
    font-family: "Nunito", sans-serif;
    box-sizing: content-box;
    border-radius: 1rem;
    min-width: 12rem;
}

