.pomodoro-form-container {
    color: #135382;
    font-size: 1rem;
}

.pomodoro-form-container form {
    padding: 0rem 1rem;
}


.sell-label-input {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
}

.pomodoro-form-container input {
    width: 2.5rem;
    margin-left: 1em;
    
}