.pomodoro-container {
    background-color: #135382;
}

.pomodoro-container h1 {
    color: aliceblue;
}

.settings-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 4rem;
    right: 0;
    margin-bottom: 20px;
    margin-right: 20px;
}

.settings-icon {
    font-size: 3rem;
    color: lightblue;
}


.pomodoro-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: aliceblue;
    display: flex;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 3rem;
}

.pomodoro-icon {
    margin-bottom: .3rem;
    margin-right: .5rem;
}

#mode-string {
    color: aliceblue;
}