.pomodoro-container {
    background-color: #135382;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.pomodoro-container h1 {
    color: aliceblue;
    margin: 0;
    font-size: 2rem;
}

.settings-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 4rem;
    right: 0;
    margin-bottom: 20px;
    margin-right: 20px;
}

.settings-icon {
    font-size: 3rem;
    color: lightblue;
}


#sessions-remaining {
    margin-top: 2em;
}