.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0c3d63; /* Adjust as needed */
    z-index: 3;
    /* Adjust padding as needed */
    height: fit-content;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.navbar ul li {
    padding: 1rem; /* Adjust padding as needed */
    font-size: 1.3rem;
    display: flex;
    position: relative;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
}

.navbar ul li a {
    color: lightblue; /* Adjust link text color as needed */
    text-decoration: none; /* Remove default underline */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-tap-higlight-color: transparent;
}


.tasks-icon {
    color: aliceblue;

}

.shopping-icon {
    color: #c25289;
}

.nav-text {
    position: absolute;
    top: 1rem;
    left: 80%;
    display: none;
    margin-left: 5px; /* Adjust as needed */
    transform: translateY(-10px); /* Move the text up initially */
    transition: opacity 1s ease, transform 1s ease; /* Add transition effect for opacity and transform */
    opacity: 0; /* Initially hidden */
}


/*Screens that don't have hover (most mobile devices except Samsung) */
@media (hover: none) {
    .navbar ul li:hover .nav-text {
        display: none;
    }

 
    .navbar ul li:active {
        background-color: #135382;
    }

}

/* Screens that have hover and are not Samsung (laptops etc) */
@media (hover:hover) and (min-width: 501px) {
    .navbar ul li:hover .nav-text {
        display: flex;
        opacity: 1; /* Show the text */
        transform: translateY(0);
    }
}

/*Samsung screens that have hover but don't behave like they do */
@media (hover:hover) and (max-width: 500px) {
    .navbar ul li:hover .nav-text {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .nav-text {
        font-size: 1rem;
    }
}