.App {
  text-align: center;
}

.content {
  padding-top: 3rem; /* Adjust the value based on the height of your navigation bar */
  display: flex;
  justify-content: center;
  align-items: center;
  
}